/* Put your styles here. */

h1, h2{
    font-family: 'Chewy', cursive;
    font-size: 3em;
    letter-spacing: 3px;
    margin-left: 100px;
}

h1{
    padding-top: 30px;
}

h3{
    margin-left: 100px;
    font-size: 2em;
    font-family:'Chewy', cursive;
    letter-spacing: 1px;
}

p, li{
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
    margin-left: 100px;
    margin-right: 100px;
}

body{
    background-image: url(../images/congruent_pentagon.png)
}

.container1{
width:95%;
    margin:auto;
}

.container2{
  width:80%;
  margin:auto;      
}





 /* End of your styles */