/* Put your styles here. */
        th, td {
            border: 2px solid #9499B2;
            padding: 20px 25px;
            color: #B2008B;
            text-align: center;
            
        }
        h1 {
            font-family: 'Pacifico', cursive;
            color:#FF7F19;
            text-align: center;
            font-size: 4em;
        }
        body{
            background-color: #8FF0FF;
    
        }
        a{
            color:#B2008B;
        } 
body{
    background-image: url(../images/congruent_pentagon.png)
}

.table{
    width:80%;
    margin:auto;
     font-family: 'Open Sans Condensed', sans-serif;
    font-size:2em;
}


/* Put your styles here. */