/* Put your styles here. */
    
    h1 {
        color: forestgreen;
        font-size: 30px;
    }
    h2 {
        color:lightcoral;
        text-align: center;
        font-size: 20px;
    }
    h1, h2 {
        font-family: cursive;  
    }
    body {
        font-family: Arial; 
        font-size: 18px;
    }
    header {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    body {
        background-color: AntiqueWhite;
    }
      /* End of your styles */