/* Meow Comment Meow

Greyish: CBCCC9
Salmon: FFAA8D
Greeh: 75B246

*/

header{
    background-color: #dddddd;
    width: 600px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
        
}

a{
    color: #75B246; 
}

h1{
    color: #75B246; 
}

.color1{
    width: 200px;
    height: 200px;
    background-color: #75B246; 
}
.color2{
    width: 200px;
    height: 200px;
    background-color: #FFAA8D; 
}
.color3{
    width: 200px;
    height: 200px;
    background-color: #CBCCC9; 
}

body{
            background-color: white;
            color: indigo;
        }    
        a{
            color: grey;
        }