/* Meow Comment Meow

Greyish: CBCCC9
Salmon: FFAA8D
Greeh: 75B246

*/

header{
    background-color: #dddddd;
    width: 600px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
        
}

a{
    color: #75B246; 
}

h1{
    color: #75B246; 
}

.colorwrapper{
    background-color: orange;
}

.colorswatch{
    width: 200px;
    height: 200px;
    float:left;
}
.color1{
    background-color: #FF7F19; 
}

.color2{
    background-color: #8FF0FF; 
}
.color3{
    background-color: #B2008B; 
}
.clear{
    clear:both;
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display:table;
}

.clearfix:after {
clear:both;
}

body{
            background-color: white;
            color: indigo;
        }    
        a{
            color: grey;
        }